<h2>Create a new blog post</h2>

<!--the f block param is called a form builder, it helps build the form-->
<!--f is aware that a post has a title and content-->
<!--grab code from a scaffolded project to display errors-->
<%= form_for @post do |f| %>
  <div>
   <%= f.label :title %> <!--generates an html label element-->
   <br>
   <%= f.text_field :title %> <!--generate an input field for title?-->
  </div>
  
  <div>
    <%=f.label :content%>
    <br>
      <%=f.text_area :content %>
  </div>
  
  <div>
    <%=f.submit "Submit Blog Post" %>
  </div>
<% end %>